
#mainSection{
    background: rgb(2,0,36);
    background: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgba(255,6,237,1) 0%, rgba(29,0,255,1) 100%);
    min-height: 100vh;
}

#registerCardContainer{
    max-width: 75vh;
    min-width: 300px;
    
}


.card{
    background: #212529;
}

.registerText{
    letter-spacing: -1px;
    color: rgb(183, 178, 178);
}


.registerBtn{
    background-color: white;
    color: rgb(26, 25, 25);
}

.loginButton{
    background-color: white;
    color: rgb(26, 25, 25);
}

.invalidRegisterText{
    height: 30px;
    color: red;
    width: 100%;
    margin: auto;
    text-align: center;
   
}