
#mainSection{
    background: rgb(2,0,36);
    background: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgb(28, 16, 106) 0%, rgb(167, 165, 176) 100%);
    min-height: 100vh;
}

#loginCardContainer{
    max-width: 75vh;
    min-width: 300px;
}


.card{
    background: rgba(255, 255, 255, 0.079);
}

.registerText{
    font-variant: small-caps;
    letter-spacing: -1px;
    color: rgb(183, 178, 178);
}


.registerBtn{
    font-variant: small-caps;
    background-color: white;
    color: rgb(26, 25, 25);
}

.loginButton{
    font-variant: small-caps;
    background-color: white;
    color: rgb(26, 25, 25);
}