<div *ngIf="currentComponent === 'workgroup-table'">
    <table class="table table-xl table-striped table-dark" id="mainTable">

    <thead>
        <tr class="align-middle">
            <th scope="col" (click)="this.tableService.sortBy('id')">ID</th>
            <th scope="col">Workgroup name</th>
            <th scope="col">institution</th>
            <th></th>
        </tr>
    </thead>

    <tbody *ngIf="this.tableService.isUsersLoading == false">
        <ng-container *ngFor="let workgroup of this.tableService.allWorkgroup;">
            <tr class="align-middle">
                <td>{{workgroup.id}}</td>
                <td>{{workgroup.groupName}}</td>
                <td>{{workgroup.institution}}</td>
                <td>
                    <div type="button" (click)="currentComponent = 'workgroup-members-table'; this.tableService.searchAllWorkgroupMemebers(workgroup.groupName)" class="userLink">
                        <a>
                            Users from workgroup
                        </a>
                    </div>
                    
                </td>
            </tr>
        </ng-container>
        
    </tbody>
    
</table>
</div>
<div *ngIf="currentComponent === 'workgroup-members-table'">
    <app-workgroup-members-table></app-workgroup-members-table>
</div>