<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class=" navbar-collapse justify-content-end">
        <div class="btnContainer">
            <button type="button" class="btn btn-danger " (click)="this.authService.logOut()">Log out</button>
        </div>
    </div>

</nav>


<div class="main">

    <div class="input-group">
        <select class="form-control filterSelect">
            <option selected value="users" (click)="this.tableService.changeSearchFilter('users')">All users</option>
            <option value="student" (click)="this.tableService.changeSearchFilter('student')">Student</option>    
            <option value="admin" (click)="this.tableService.changeSearchFilter('admin')">Admin</option>
            <option value="super-admin" (click)="this.tableService.changeSearchFilter('super-admin')">Superadmin</option>
            <option value="workgroup" (click)="this.tableService.changeSearchFilter('workgroup')">Workgroup ( {{this.workgroupService.currentlySelectedWorkgroupName}} ) </option>
            <!-- <option>Institution</option> -->
        </select>
        <input [(ngModel)]="this.tableService.searchText"  [ngModelOptions]="{standalone: true}" (keyup)="this.tableService.searchSuperadminWithDebounce()" type="text"
            class="form-control searchBar" placeholder="Type to search...">
    </div>

    <div class="tableContainer" *ngIf="this.tableService.searchFilter == 'users'">
        <app-su-user-table></app-su-user-table>
    </div>

    <div class="tableContainer" *ngIf="this.tableService.searchFilter == 'student'">
        <app-su-student-table></app-su-student-table>
    </div>

    <div class="tableContainer" *ngIf="this.tableService.searchFilter == 'admin'">
        <app-su-admin-table></app-su-admin-table>
    </div>

    <div class="tableContainer" *ngIf="this.tableService.searchFilter == 'super-admin'">
        <app-su-superadmin-table></app-su-superadmin-table>
    </div>


    <div class="tableContainer" *ngIf="this.tableService.searchFilter == 'workgroup' || this.tableService.searchFilter == 'users-in-workgroup'">
        <app-su-workgroup-table></app-su-workgroup-table>
    </div>

    <div class="pageSelector">
        <div class="pageBox" *ngFor="let item of this.tableService.createRange();"
            (click)="tableService.pageClick(item-1)">
            {{item}}
        </div>
    </div>

</div>


<div #mainModal class="modal fade" id="mainModal" tabindex="2" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <app-superadmin-modal #superadminModal [modalId]="this.modalService.currentlySelectedModal"></app-superadmin-modal>
            </div>
        </div>
    </div>
</div>