<div id="main">
    <div id="bulkButtonContainer">
        <div id="bulkButtonHolder" *ngIf="this.isAnyChecked == true">
            <button type="button" class="btn btn-dark" (click)="this.getAllCheckedBox()">asd</button>
            <button type="button" class="btn btn-dark">asd</button>
            <button type="button" class="btn btn-dark">asd</button>
            <button type="button" class="btn btn-dark">asd</button>
            <button type="button" class="btn btn-dark">asd</button>
        </div>


    </div>
    <table class="table table-xl table-striped table-dark rounded" id="mainTable" *ngIf="this.isUsersLoading == false">
        <thead>
            <tr class="align-middle sticky-top">
                <th scope="col">
                    <div class="form-check checkboxContainer">
                        <input class="form-check-input" type="checkbox" value="" id="mainCheckbox"
                            (click)="this.checkAllBox()">
                    </div>
                </th>
                <th (click)="this.orderById()" scope="col">ID</th>
                <th (click)="this.orderByRole()" scope="col">Role</th>
                <th (click)="this.orderByFirstName()" scope="col">First name</th>
                <th (click)="this.orderByLastName()"scope="col">Last name</th>
                <th (click)="this.orderByEmail()"scope="col">Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let user of allUsers">
                <tr class="align-middle">
                    <td>
                        <div class="form-check checkboxContainer">
                            <input class="form-check-input subCheckbox" type="checkbox" value=""
                                (click)="isAnyCheckedBox()">
                        </div>
                    </td>
                    <td>{{user.id}}</td>
                    <td>{{user.roleName}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    
                    <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                    <td>
                        <div id="listMenu" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"  data-toggle="modal" data-target="#moreInfoModal">
                            <img class="listMenuImage" src="../../../../assets/info-button-svgrepo-com.svg" alt=""
                                srcset="">

                        </div>
                    </td>
                </tr>
            </ng-container>

        </tbody>
    </table>
</div>






<div class="modal" id="moreInfoModal" tabindex="2" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" id="moreInfoModalBox">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal">
                    Launch demo modal
                </button>
            </div>
           
        </div>
    </div>
</div>

<!-- Second nested Modal -->
<div class="modal mt-5 ms-5" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Modal Title</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>The Second Modal</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>