#main {
    width: 80%;
    margin: auto;
    display: grid;

}

#navBar{
    height: auto;
    display: grid;
    grid-template-columns: auto 100px;
    margin-bottom: 50px;
}

#navbarLeft{
    grid-column: 1;
}
#navbarRight{
    grid-column: 2;
}

#logoutButton{

    
    background-color: #373e44;
    width: 100px;
}




.searchBar{
    border-radius: 0px;
    width: 280px;
}








.dropdown-menu {

    background-color: #212529;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    cursor: pointer;
   

}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #2c3034;
}


.tableContainer{
    overflow: scroll;
    max-width: 100%;
}

.pageSelector{
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #373e4466;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;
    
    max-width: 80vw;
    height: 40px;
   
    overflow-x: scroll;
    min-width: 300px;
   
    
    
   
}
.pageBox{
    border-radius: 5px;
    background-color: #212529;
    min-width: 40px;
    min-height: 40px;
    color: white;
    text-align: center;
    
   
    line-height: 40px; 
    margin-left: 10px;
    margin-right: 10px;

    cursor: pointer;
    
    

}


#filterSelect{
    max-width: 450px;
    min-width: 100px;
}

.searchBar{
    color: #2c3034;
   
}

.form-control:focus {
  box-shadow: none;
  

}

.form-control{
    /* border: none; */
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #212529;
    color: aliceblue;
}



.input-group{
    width: 100%;
    
}




@media only screen and (max-width: 600px) {
    #mainTable {
      overflow: scroll;
    }



  }
