<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <div class="nav-link" data-bs-toggle="modal" data-bs-target="#mainModal"
                    (click)="openAddUserModal()">
                    Add user</div>
            </li>

            <li class="nav-item">
                <div class="nav-link" data-bs-toggle="modal" data-bs-target="#mainModal"
                    (click)="openAddUserToWorkgroupModal()">
                    Add user to workgroup</div>
            </li>

            <li>
                <div class="nav-link" data-bs-toggle="modal" data-bs-target="#mainModal"
                    (click)="openCreateWorkgroupModal()">
                    Create workgroup</div>
            </li>

            <li>
                <div class="nav-link" data-bs-toggle="modal" data-bs-target="#mainModal"
                    (click)="openCreateWorkgroupSceduleModal()">
                    Create workgroup schedule</div>
            </li>

        </ul>

        <div class="btnContainer">
            <button type="button" class="btn btn-danger " (click)="this.authService.logOut()">Log out</button>
        </div>
    </div>


</nav>





<div id="main">

    <div class="input-group">
        <select class="form-control" id="filterSelect">
            <option selected value="users" (click)="this.tableService.changeSearchFilter('users')">All users</option>
            <option value="student" (click)="this.tableService.changeSearchFilter('student')">Student</option>    
            <option value="admin" (click)="this.tableService.changeSearchFilter('admin')">Admin</option>
            <option value="super-admin" (click)="this.tableService.changeSearchFilter('super-admin')">Superadmin</option>
            <option value="workgroup" (click)="this.tableService.changeSearchFilter('workgroup')">Workgroup ( {{this.workgroupService.currentlySelectedWorkgroupName}} ) </option>
            <!-- <option>Institution</option> -->
        </select>
        <input [(ngModel)]="this.tableService.searchText" (keyup)="this.tableService.searchSuperadmin()" type="text"
            class="form-control searchBar" placeholder="Type to search...">
    </div>


    <div class="tableContainer" *ngIf="this.tableService.searchFilter == 'users'">
        <app-user-table></app-user-table>
    </div>

    <div class="tableContainer" *ngIf="this.tableService.searchFilter == 'student'">
        <app-student-table></app-student-table>
    </div>

    <div class="tableContainer" *ngIf="this.tableService.searchFilter == 'admin'">
        <app-admin-table></app-admin-table>
    </div>

    <div class="tableContainer" *ngIf="this.tableService.searchFilter == 'super-admin'">
        <app-superadmin-table></app-superadmin-table>
    </div>


    <div class="tableContainer" *ngIf="this.tableService.searchFilter == 'workgroup' || this.tableService.searchFilter == 'users-in-workgroup'">
        <app-workgroup-table></app-workgroup-table>
    </div>

    <div class="pageSelector">
        <div class="pageBox" *ngFor="let item of this.tableService.createRange();"
            (click)="tableService.pageClick(item-1)">
            {{item}}
        </div>
    </div>

</div>


<div #mainModal class="modal fade" id="mainModal" tabindex="2" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="mainModalBox">
            <div class="modal-body">
                <app-superadmin-modal #superadminModal [modalId]="this.selectedModal"></app-superadmin-modal>
            </div>
        </div>
    </div>
</div>