<table class="table table-xl table-striped table-dark mainTable">

    <thead>
        <tr class="align-middle">
            <!-- <th>ID</th> -->
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Present</th>
            <th>Late</th>
            <th>On-site</th>
           

        </tr>
    </thead>

    <tbody *ngIf="this.studentTableService.isUserScheduleLoading == false">
        
        <ng-container *ngFor="let schedule of this.studentTableService.allUserSchedule;">

            <tr class="align-middle">
                <!-- <td>{{schedule.id}}</td> -->
                <td>{{schedule.name}}</td>
                <td>{{this.dateUtil.dateFormatter(schedule.start)}}</td>
                <td>{{this.dateUtil.dateFormatter(schedule.end)}}</td>
                <td>{{schedule.isStudentPresent}}</td>
                <td>{{schedule.lateInMinutes}}</td>
                <td>{{schedule.isOnsite}}</td>
  
            </tr>
        </ng-container>
    </tbody>


</table>
