<div id="getUserInfo" *ngIf="this.modalId == 'getUserInfo'">

    <div class="modal-header">
        <h5 class="modal-title" class="mainModalLabel">Info</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>

    </div>
    <div class="modalContainer" *ngIf="this.isUserInfoLoading == false">
        <form [formGroup]="userInfoForm">

            <div class="inputText formInput">
                <label>ID:</label>
                <input class="form-control userId" formControlName="id" type="text">
            </div>
            <label for="roleSelect">Role:</label>
            <select class="custom-select roleSelect" formControlName="roleName">
                <option value="" selected disabled hidden placeholder id="defaultSelected"></option>
                <option value="superadmin">superadmin</option>
                <option value="admin">admin</option>
                <option value="student">student</option>
            </select>
            <div class="inputText formInput">
                <label>First name:</label>
                <input class="form-control firstName" formControlName="firstName" type="text">
            </div>
            <div class="inputText formInput">
                <label>Last name:</label>
                <input class="form-control lastName" formControlName="lastName" type="text">
            </div>
            <div class="inputText formInput">
                <label>Birth:</label>
                <input class="form-control birth" formControlName="birth" type="date">
            </div>
            <div class="inputText formInput">
                <label>Email:</label>
                <input class="form-control email" formControlName="email" type="text">
            </div>
            <div class="inputText formInput">
                <label>Phone:</label>
                <input class="form-control phone" formControlName="phone" type="text">
            </div>


            <div class="inputText formInput">
                <label>Registered at:</label>
                <input class="form-control registeredAt" formControlName="registeredAt" type="text">
            </div>
            <div class="inputText formInput">
                <label>Activated:</label>
                <input *ngIf="this.userInfo.isActivated == true"
                    style="background: url(../../../../assets/green-checkmark-icon.webp) no-repeat scroll 7px 7px;  padding-left:40px; background-size: 21px;"
                    class="form-control activated" formControlName="activatedAt" type="text">
                <input *ngIf="this.userInfo.isActivated == false "
                    style="background: url(../../../../assets/red-x-icon.webp) no-repeat scroll 7px 7px; padding-left:40px; background-size: 21px;"
                    class="form-control activated" formControlName="activatedAt" type="text">

            </div>
            <div class="inputText formInput">
                <label>Deleted:</label>

                <input *ngIf="this.userInfo.isDeleted == true"
                    style="background: url(../../../../assets/green-checkmark-icon.webp) no-repeat scroll 7px 7px;  padding-left:40px; background-size: 21px;"
                    class="form-control isDeleted" formControlName="deletedAt" type="text">
                <input *ngIf="this.userInfo.isDeleted == false"
                    style="background: url(../../../../assets/red-x-icon.webp) no-repeat scroll 7px 7px;  padding-left:40px; background-size: 21px;"
                    class="form-control isDeleted" formControlName="deletedAt" type="text">

            </div>
        </form>


    </div>
    <div class="responseTextContainer">
        <div class="successfulRes" *ngIf="this.isSuccessful == true">Successfully saved</div>
        <div class="unSuccessfulRes" *ngIf="this.isSuccessful == false">

        </div>
    </div>
    <div class="modalButtonContainer">
        <button *ngIf="this.isEditingEnabled == false" type="button" class="btn btn-warning editButton"
            (click)="this.editUserInfo()">
            Edit
        </button>
        <button *ngIf="this.isEditingEnabled == true" type="button" class="btn btn-danger cancelButton"
            (click)="cancelEdit()">
            Cancel
        </button>
        <button *ngIf="this.isEditingEnabled == true" type="button" class="btn btn-success saveButton"
            (click)="this.saveUserInfo()">
            Save
        </button>

    </div>
</div>


<!---------------------------------------------------------------------------------------------->

<div id="addUser" *ngIf="this.modalId== 'addUser'">
    <div class="modal-header">
        <h5 class="modal-title" class="mainModalLabel">Add user {{this.userService.currentlySelectedUserId}}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modalContainer">
        <form utocomplete="off" [formGroup]="addUserForm">

            <div class="inputText formInput">
                <label for="firstName">First name:</label>
                <input class="form-control firstName" formControlName="firstName" type="text">

            </div>


            <div class="inputText formInput">
                <label for="lastName">Last name:</label>
                <input class="form-control lastName" formControlName="lastName" type="text">

            </div>

            <div class="inputText formInput">
                <label for="phone">Phone:</label>
                <input class="form-control phone" formControlName="phone" type="text">

            </div>

            <div class="inputText formInput">
                <label for="lastName">Birth:</label>
                <input class="form-control birth" formControlName="birth" type="date">

            </div>

            <div class="inputText formInput">
                <label for="email">Email:</label>
                <input autocomplete="off" class="form-control email" formControlName="email" type="text">

            </div>

            <div class="inputText formInput">
                <label for="password">Password:</label>
                <input autoComplete="new-password" class="form-control password" formControlName="password"
                    type="password">

            </div>

            <label for="roleSelect">Role:</label>
            <select class="custom-select roleSelect" formControlName="roleName">
                <option value="" selected disabled hidden placeholder id="defaultSelected"></option>
                <option value="superadmin">superadmin</option>
                <option value="admin">admin</option>
                <option value="student">student</option>
            </select>
        </form>
    </div>


    <div class="responseTextContainer">
        <div class="successfulRes" *ngIf="this.isSuccessful == true">Successfully saved</div>
        <div class="unSuccessfulRes" *ngIf="this.isSuccessful == false">

        </div>
    </div>
    <div class="modalButtonContainer">
        <button type="button" class="btn btn-danger cancelButton" data-bs-dismiss="modal"
            (click)="this.cancelAddUser()">
            Cancel
        </button>
        <button type="button" class="btn btn-success saveButton" (click)="this.addUser()">
            Save
        </button>

    </div>

</div>



<!-- Workgroup -->

<div id="createWorkgroup" *ngIf="this.modalId== 'createWorkgroup'">
    <div class="modal-header">
        <h5 class="modal-title" class="mainModalLabel">Create workgroup</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modalContainer">
        <form [formGroup]="createWorkgroupForm">

            <div class="inputText formInput">
                <label for="groupName">Group name:</label>
                <input class="form-control groupName" formControlName="groupName" type="text">

            </div>


            <div class="inputText formInput">
                <label for="institution">Institution:</label>
                <input class="form-control institution" formControlName="institution" type="text">

            </div>
        </form>
        <div class="responseTextContainer">
            <div class="successfulRes" *ngIf="this.isSuccessful == true">Successfully saved</div>
            <div class="unSuccessfulRes" *ngIf="this.isSuccessful == false">

            </div>
        </div>
        <div class="modalButtonContainer">
            <button type="button" class="btn btn-danger cancelButton" data-bs-dismiss="modal"
                (click)="this.cancelCreateWorkgroup()">
                Cancel
            </button>
            <button type="button" class="btn btn-success saveButton" (click)="this.createWorkgroup()">
                Save
            </button>

        </div>

    </div>

</div>


<!---------------------------------------------------------------------------------------------->

<div id="createWorkgroupSchedule" *ngIf="this.modalId == 'createWorkgroupSchedule'">
    <div class="modal-header">
        <h5 class="modal-title" class="mainModalLabel">Create workgroup schedule</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>



    <div class="modalContainer">
        <form [formGroup]="createWorkgroupScheduleForm">

            <div class="inputText formInput">
                <label for="name">Name:</label>
                <input class="form-control name" formControlName="name" type="text">

            </div>

            <div class="inputText formInput">
                <label for="start">Start:</label>
                <input type="datetime-local" class="form-control start" formControlName="start" min="2021-06-07T00:00"
                    max="2050-06-14T00:00" required>
            </div>

            <div class="inputText formInput">
                <label for="end">End:</label>
                <input type="datetime-local" class="form-control end" formControlName="end" min="2021-06-07T00:00"
                    max="2050-06-14T00:00" required>
            </div>



            <div class="inputText formInput">
                <label for="workgroupId">Workgroup:</label>
                <select class="custom-select workgroupId" formControlName="workgroupId">
                    <!-- <option  value="" selected disabled hidden placeholder id="defaultSelected"></option> -->
                    <option *ngFor="let workgroup of this.tableService.allWorkgroup;" [value]="workgroup.id">
                        {{workgroup.groupName}}</option>

                </select>
            </div>

            <div class="inputText formInput">
                <label for="isOnsite">Onsite:</label>
                <div class="form-switch">
                    <input class="form-check-input isOnsiteCheckBox" type="checkbox" formControlName="isOnsite"
                        id="flexSwitchCheckChecked" checked>
                </div>
            </div>

        </form>


    </div>


    <div class="responseTextContainer">
        <div class="successfulRes" *ngIf="this.isSuccessful == true">Successfully saved</div>
        <div class="unSuccessfulRes" *ngIf="this.isSuccessful == false">

        </div>
    </div>
    <div class="modalButtonContainer">
        <button type="button" class="btn btn-danger cancelButton" data-bs-dismiss="modal"
            (click)="this.cancelCreateWorkgroupSchedule()">
            Cancel
        </button>
        <button type="button" class="btn btn-success saveButton" (click)="this.createWorkgroupSchedule()">
            Save
        </button>


    </div>

</div>


<!---------------------------------------------------------------------------------------------->

<div id="addUserToWorkgroup" *ngIf="this.modalId == 'addUserToWorkgroup'">
    <div class="modal-header">
        <h5 class="modal-title" class="mainModalLabel">Add user to workgroup</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modalContainer">
        <form [formGroup]="addUserToWorkgroupForm">

            <div class="inputText formInput">
                <label for="userId">Users:</label>
                <select class="custom-select userId" formControlName="userId">
                    <option *ngFor="let user of this.tableService.allUsers;" [value]="user.id">
                        Name: {{user.firstName}} {{user.lastName}}, {{user.roleName}} </option>
                </select>
            </div>
        </form>
    </div>

    <div class="responseTextContainer">
        <div class="successfulRes" *ngIf="this.isSuccessful == true">Successfully saved</div>
        <div class="unSuccessfulRes" *ngIf="this.isSuccessful == false">

        </div>
    </div>
    <div class="modalButtonContainer">
        <!-- <button type="button" class="btn btn-danger cancelButton" data-bs-dismiss="modal"
            (click)="this.cancelCreateWorkgroupSchedule()">
            Cancel
        </button> -->
        <button type="button" class="btn btn-success saveButton" (click)="this.addUserToWorkgroup()">
            Save
        </button>


    </div>

</div>



<!--------------------------------------------------------------------------------->

<div id="getWorkgroupScheduleByUserId" *ngIf="this.modalId == 'getWorkgroupScheduleByUserId'">

    <div class="modal-header">
        <h5 class="modal-title" class="mainModalLabel">User schedule</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>

    </div>
    <div class="modalContainer">
        <form [formGroup]="getWorkgroupScheduleByUserIdForm">

            <table class="table  table-striped table-dark" id="mainTable">
                <thead>
                    <tr class="align-middle">
                        <th>Schedule name</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Onsite</th>
                    </tr>
                </thead>
                <tbody>

                    <ng-container *ngFor="let schedule of this.tableService.allWorkgroupScheduleByUserId;">
                        <tr class="align-middle">
                            <td>{{schedule.name}}</td>
                            <td>{{schedule.start | date:'medium'}}</td>
                            <td>{{schedule.end | date:'medium'}}</td>
                            <td>{{schedule.isOnsite}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <!-- <div class="inputText formInput">
                <label>Schedule name:</label>
                <input class="form-control userId" formControlName="name" type="text">
            </div>

            <div class="inputText formInput">
                <label>Start:</label>
                <input class="form-control userId" formControlName="start" type="text">
            </div>

            <div class="inputText formInput">
                <label>End:</label>
                <input class="form-control userId" formControlName="end" type="text">
            </div>

            <div class="inputText formInput">
                <label>Is onsite:</label>
                <input class="form-control userId" formControlName="isOnsite" type="text">
            </div> -->

        </form>

    </div>


</div>


<!------------------------------------------------------------------------------------------------>

<!-- <div id="deleteWorkgroup" *ngIf="this.modalId == 'deleteWorkgroup'">
    <div class="modal-header">
        <h5 class="modal-title">Delete workgroup</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modalContainer">
        <p>Are you sure you want to delete this workgroup?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="this.tableService.deleteWorkgroup(this.id)">Yes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
</div> -->


<!------------------------------------------------------------------------------------------------->

<div id="getWorkgroupInfo" *ngIf="this.modalId == 'getWorkgroupInfo'">

    <div class="modal-header">
        <h5 class="modal-title" class="mainModalLabel">Info</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>

    </div>
    <div class="modalContainer" *ngIf="this.isWorkgroupInfoLoading == false">
        <form [formGroup]="workgroupInfoForm">

            <div class="inputText formInput">
                <label>ID:</label>
                <input class="form-control workgroupId" formControlName="id" type="text">
            </div>

            <div class="inputText formInput">
                <label>Groupname:</label>
                <input class="form-control groupName" formControlName="groupName" type="text">
            </div>
            <div class="inputText formInput">
                <label>Institution:</label>
                <input class="form-control institution" formControlName="institution" type="text">
            </div>



            <div class="inputText formInput">
                <label>Created at:</label>
                <input class="form-control createdAt" formControlName="createdAt" type="text">
            </div>

            <div class="inputText formInput">
                <label>Deleted:</label>

                <input *ngIf="this.workgroupInfo.isDeleted == true"
                    style="background: url(../../../../assets/green-checkmark-icon.webp) no-repeat scroll 7px 7px;  padding-left:40px; background-size: 21px;"
                    class="form-control isDeleted" formControlName="deletedAt" type="text">
                <input *ngIf="this.workgroupInfo.isDeleted == false"
                    style="background: url(../../../../assets/red-x-icon.webp) no-repeat scroll 7px 7px;  padding-left:40px; background-size: 21px;"
                    class="form-control isDeleted" formControlName="deletedAt" type="text">

            </div>
        </form>


    </div>
    <div class="responseTextContainer">
        <div class="successfulRes" *ngIf="this.isSuccessful == true">Successfully saved</div>
        <div class="unSuccessfulRes" *ngIf="this.isSuccessful == false">

        </div>
    </div>
    <div class="modalButtonContainer">
        <button *ngIf="this.isEditingEnabled == false" type="button" class="btn btn-warning editButton"
            (click)="this.editWorkgroupInfo()">
            Edit
        </button>

        <button *ngIf="this.isEditingEnabled == true" type="button" class="btn btn-danger cancelButton"
            (click)="cancelEdit()">
            Cancel
        </button>

        <button *ngIf="this.isEditingEnabled == true" type="button" class="btn btn-success saveButton"
            (click)="this.saveWorkgroupInfo()">
            Save
        </button>
    </div>
    
    <div id="deleteButtonContainer">
        <button *ngIf="this.isEditingEnabled == true" type="button" class="btn btn-success saveButton"
        (click)="this.saveWorkgroupInfo()">
        Save
    </button>
    </div>
</div>



<!------------------------------------------------------------------------------------------------->

<div id="getStudentAttendance" *ngIf="this.modalId == 'studentAttendanceMenu'">

    <div class="modal-header">
        <h5 class="modal-title" class="mainModalLabel">Attendance</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>

    </div>
    <div class="modalContainer">
      
        <div class="datePickerContainer">
            <input class="studentAttendanceDatePicker" type="date">
           
            <button class="btn btn-success getStudentDailyAttendanceButton" (click)="getStudentDailyAttendance(this.userService.currentlySelectedUserId)">Search</button>
        </div>


        <table class="table table-xl table-striped table-dark" id="mainTable" *ngIf="this.isdailyAttendanceLoading == false">
            <thead>
                <tr>
                    <td>in</td>
                    <td>out</td>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let dailyAttendance of studentDailyAttendance;">
                    <tr class="align-middle">
                        <td>{{dateUtil.dateFormatter(dailyAttendance.arrival)}}</td>
                        <td>{{dateUtil.dateFormatter(dailyAttendance.leaving)}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>


    </div>
    <div class="responseTextContainer">
        <div class="successfulRes" *ngIf="this.isSuccessful == true">Successfully saved</div>
        <div class="unSuccessfulRes" *ngIf="this.isSuccessful == false">

        </div>
    </div>
    <div class="modalButtonContainer">
        <button *ngIf="this.isEditingEnabled == false" type="button" class="btn btn-warning editButton"
            (click)="this.editWorkgroupInfo()">
            Edit
        </button>

        <button *ngIf="this.isEditingEnabled == true" type="button" class="btn btn-danger cancelButton"
            (click)="cancelEdit()">
            Cancel
        </button>

        <button *ngIf="this.isEditingEnabled == true" type="button" class="btn btn-success saveButton"
            (click)="this.saveWorkgroupInfo()">
            Save
        </button>
    </div>
    
    <div id="deleteButtonContainer">
        <button *ngIf="this.isEditingEnabled == true" type="button" class="btn btn-success saveButton"
        (click)="this.saveWorkgroupInfo()">
        Save
    </button>
    </div>
</div>



<!------------------------------------------------------------------------------------------------->

<div id="getStudentDailyAttendance" *ngIf="this.modalId == 'studentDailyAttendanceMenu'">

    <div class="modal-header">
        <h5 class="modal-title" class="mainModalLabel">Attendance</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>

    </div>
    <div class="modalContainer">
      
        <div class="datePickerContainer">
            <input class="studentAttendanceDatePicker" type="date">
           
            <button class="btn btn-success getStudentDailyAttendanceButton" (click)="getStudentDailyClasses(this.userService.currentlySelectedUserId)">Search</button>
        </div>

        asdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasd
        <table class="table table-xl table-striped table-dark" id="mainTable" *ngIf="this.isdailyClassesLoading == false">
            <thead>
                <tr>
                    <td>name</td>
                    <td>start</td>
                    <td>end</td>
                    <td>isStudentPresent</td>
                    <td>lateInMinutes</td>


                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let dailyClass of studentDailyClasses;">
                    <tr class="align-middle">
                        <td>{{dailyClass.name}}</td>
                        <td>{{dateUtil.dateFormatter(dailyClass.start)}}</td>
                        <td>{{dateUtil.dateFormatter(dailyClass.end)}}</td>
                        <td>{{dailyClass.isStudentPresent}}</td>
                        <td>{{dailyClass.lateInMinutes}}</td>
                        
                    </tr>
                </ng-container>
            </tbody>
        </table>


    </div>
    <div class="responseTextContainer">
        <div class="successfulRes" *ngIf="this.isSuccessful == true">Successfully saved</div>
        <div class="unSuccessfulRes" *ngIf="this.isSuccessful == false">

        </div>
    </div>
    <div class="modalButtonContainer">
        <button *ngIf="this.isEditingEnabled == false" type="button" class="btn btn-warning editButton"
            (click)="this.editWorkgroupInfo()">
            Edit
        </button>

        <button *ngIf="this.isEditingEnabled == true" type="button" class="btn btn-danger cancelButton"
            (click)="cancelEdit()">
            Cancel
        </button>

        <button *ngIf="this.isEditingEnabled == true" type="button" class="btn btn-success saveButton"
            (click)="this.saveWorkgroupInfo()">
            Save
        </button>
    </div>
    
    <div id="deleteButtonContainer">
        <button *ngIf="this.isEditingEnabled == true" type="button" class="btn btn-success saveButton"
        (click)="this.saveWorkgroupInfo()">
        Save
    </button>
    </div>
</div>