

label {
    width: 30%;
    float: left;
    color: white;
    height: 38px;
    display: flex;
    align-items: center;

}
  

  
input {
    width: 70%;
   
    
    
    
}
.formInput{
    margin-bottom: 30px;
}

select{
    width: 70%;
    margin-bottom: 30px;
}

.form-control:disabled{
    background-color: #1f2224;;
    opacity: 0.5;
}

select:disabled {
    background-color: #1f2224;;
    opacity: 0.5;
}






@media (max-width: 575px) {
    label{
        width: 100%;
    }
    input {
        width: 100%;
    }
    select{
        width: 100%;
        margin-bottom: 0px;
    }
    .formInput{
        margin-bottom: 0px;
    }
  }
