<div class="main">

    <div class="input-group">
        <select #selectList class="form-control filterSelect" (change)="this.superadminTableService.changeSearchFilter(selectList.value)">
            <option selected value="users">All users</option>
            <option value="student">Student</option>    
            <option value="admin">Admin</option>
            <option value="super-admin">Superadmin</option>
            <option value="workgroup">Workgroup ( {{this.workgroupService.currentlySelectedWorkgroupName}} ) </option>
            <!-- <option>Institution</option> -->
        </select>
        <input [(ngModel)]="this.superadminTableService.searchText"  [ngModelOptions]="{standalone: true}" (keyup)="this.superadminTableService.searchSuperadminWithDebounce()" type="text"
            class="form-control searchBar" placeholder="Type to search...">
            
    </div>
    
    <div class="tableContainer" *ngIf="this.superadminTableService.searchFilter == 'users'">
        <app-su-user-table></app-su-user-table>
    </div>

    <div class="tableContainer" *ngIf="this.superadminTableService.searchFilter == 'student'">
        <app-su-student-table></app-su-student-table>
    </div>

    <div class="tableContainer" *ngIf="this.superadminTableService.searchFilter == 'admin'">
        <app-su-admin-table></app-su-admin-table>
    </div>

    <div class="tableContainer" *ngIf="this.superadminTableService.searchFilter == 'super-admin'">
        <app-su-superadmin-table></app-su-superadmin-table>
    </div>


    <div class="tableContainer" *ngIf="this.superadminTableService.searchFilter == 'workgroup' || this.superadminTableService.searchFilter == 'users-in-workgroup'">
        <app-su-workgroup-table></app-su-workgroup-table>
    </div>

    <div class="pageSelector">
        <div class="pageBox" *ngFor="let item of this.superadminTableService.createRange();"
            (click)="superadminTableService.suPageClick(item-1)">
            <div class="selectedPage" *ngIf="this.superadminTableService.pageNumber == item-1">{{item}}</div>
            <div *ngIf="this.superadminTableService.pageNumber != item-1">{{item}}</div>
        </div>
    </div>
   
</div>


<div class="modal fade mainModal" tabindex="2" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <app-superadmin-modal #superadminModal [modalId]="this.superadminModalService.currentlySelectedModal"></app-superadmin-modal>
            </div>
        </div>
    </div>
</div>