.modalContainer{
    background-color: red;
    height: auto;
    width: auto;

}

.custom-select{
    background-color: white;
    display: block;
    border-radius: 5px;
    border: solid #ced4da 1px;
    height: 38px;
    width: 100%;
    
}