<table class="table table-xl table-striped table-dark" id="mainTable">

    <thead>
        <tr class="align-middle">
            <th scope="col" (click)="this.tableService.sortBy('id')">ID</th>
            <th scope="col" (click)="this.tableService.sortBy('roleId.roleType')">Role</th>
            <th scope="col" (click)="this.tableService.sortBy('firstName')">First name</th>
            <th scope="col" (click)="this.tableService.sortBy('lastName')">Last name</th>
            <th scope="col" (click)="this.tableService.sortBy('email')">Email</th>
            <!-- <th style="max-width: 48px;"></th> -->
            <th style="max-width: 48px;">

                <!--(click)="this.tableService.deleteWorkgroup(workgroup.id)" -->
                <div id="addUser" type="button" data-bs-toggle="modal" data-bs-target="#mainModal"
                    (click)="openAddUserModal()">
                    <img class="addUserImage" src="../../../../assets/add-user-svgrepo-com.svg" alt="">
                </div>

            </th>
        </tr>
    </thead>

    <tbody *ngIf="this.tableService.isUsersLoading == false">
        <ng-container *ngFor="let user of this.tableService.allUsers;">

            <tr class="align-middle deleted" *ngIf="user.isDeleted == true">
                <td>{{user.id}}</td>
                <td *ngIf="user.roleName == 'superadmin'"><img class="superadminRoleIcon"
                        src="../../../../assets/user-secret-svgrepo-com.svg" alt="" srcset=""></td>
                <td *ngIf="user.roleName == 'admin'"><img class="adminRoleIcon"
                        src="../../../../assets/user-tie-svgrepo-com.svg" alt="" srcset=""></td>
                <td *ngIf="user.roleName == 'student'"><img class="studentRoleIcon"
                        src="../../../../assets/user-graduate-svgrepo-com.svg" alt="" srcset=""></td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>

                <td><a class="deleteda" href="mailto:{{user.email}}">{{user.email}}</a></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <div class="dropdownButton" type="button" data-bs-toggle="modal" data-bs-target="#mainModal"
                                (click)="openUserInfoModal(user); this.superadminModal.getUserInfo(user.id); ">
                                <div class="basicSmallIconContainer">
                                    <img class="basicSmallIconContainerImage"
                                        src="../../../../assets/edit-profile-svgrepo-com.svg" alt="" srcset="">
                                    <div class="itemText">User info</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="align-middle" *ngIf="user.isDeleted == false">
                <td>{{user.id}}</td>
                <td *ngIf="user.roleName == 'superadmin'"><img class="superadminRoleIcon"
                        src="../../../../assets/user-secret-svgrepo-com.svg" alt="" srcset=""></td>
                <td *ngIf="user.roleName == 'admin'"><img class="adminRoleIcon"
                        src="../../../../assets/user-tie-svgrepo-com.svg" alt="" srcset=""></td>
                <td *ngIf="user.roleName == 'student'"><img class="studentRoleIcon"
                        src="../../../../assets/user-graduate-svgrepo-com.svg" alt="" srcset=""></td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>

                <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <div class="dropdownButton" type="button" data-bs-toggle="modal" data-bs-target="#mainModal"
                                (click)="openUserInfoModal(user); this.superadminModal.getUserInfo(user.id); ">
                                <div class="basicSmallIconContainer">
                                    <img class="basicSmallIconContainerImage"
                                        src="../../../../assets/edit-profile-svgrepo-com.svg" alt="" srcset="">
                                    <div class="itemText">User info</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </td>
            </tr>
        </ng-container>
    </tbody>


</table>

<div #mainModal class="modal fade" id="mainModal" tabindex="2" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="mainModalBox">
            <div class="modal-body">
                <app-superadmin-modal #superadminModal
                    [modalId]="this.modalService.currentlySelectedModal"></app-superadmin-modal>
            </div>
        </div>
    </div>
</div>