<div id="successfullPopUp" *ngIf="this.modalId == 'successfullPopUp'">

    <div class="modal-header">
        <h5 class="modal-title" class="mainModalLabel">Info</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>

    </div>
    <div class="modalContainer">
        <div class="messageText">You have been successfully registered. Please check your inbox to confirm your email address.</div>
    
    </div>

    <div class="modalButtonContainer"> 
       
        <button type="button" data-bs-dismiss="modal" class="btn btn-success saveButton">
            Ok
        </button>
    </div>
</div>

<div id="errorPopup" *ngIf="this.modalId == 'errorPopup'">

    <div class="modal-header">
        <h5 class="modal-title" class="mainModalLabel">Info</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>

    </div>
    <div class="modalContainer">
        asdasdasdasdasdasd
    
    </div>

    <div class="responseTextContainer">
      
    </div>
    <div class="modalButtonContainer"> 
       

    </div>
</div>
