<div class="main">

    <div class="input-group">
        <select #selectList class="form-control filterSelect" (change)="this.adminTableService.changeSearchFilter(selectList.value)">
            <option value="student">Student</option>    
            <option value="workgroup">Workgroup ( {{this.workgroupService.currentlySelectedWorkgroupName}} ) </option>
            
        </select>
        <input [(ngModel)]="this.adminTableService.searchText"  [ngModelOptions]="{standalone: true}" (keyup)="this.adminTableService.searchAdminWithDebounce()" type="text"
            class="form-control searchBar" placeholder="Type to search...">
    </div>

    <div class="tableContainer" *ngIf="this.adminTableService.searchFilter == 'student'">
        <app-ad-student-table></app-ad-student-table>
    </div>
    <div class="tableContainer" *ngIf="this.adminTableService.searchFilter == 'workgroup' || this.adminTableService.searchFilter == 'users-in-workgroup'">
        <app-ad-workgroup-table></app-ad-workgroup-table>
    </div>


    <div class="pageSelector">
        <div class="pageBox" *ngFor="let item of this.adminTableService.createRange();"
            (click)="adminTableService.adPageClick(item-1)">
            {{item}}
        </div>
    </div>

</div>


<div class="modal fade mainModal" tabindex="2" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <app-admin-modal #adminModal [modalId]="this.adminModalService.currentlySelectedModal"></app-admin-modal>
            </div>
        </div>
    </div>
</div>
