@import "~bootstrap/dist/css/bootstrap.css";


/* hidden scrollbars */
*{
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
display: none;
}


/* main content for the dashboards (the table)*/
.main {
    width: 80%;
    margin: auto;
    display: grid;
    margin-top: 25px;
}


/* container for different tables eg: user, admin etc.. */
.tableContainer{
    overflow: scroll;
    max-width: 100%;
}


/* text for the dropdown menu items */
.itemText{
    color: white;
    margin-top: -5px;
    margin-left: 10px;
    min-width: 250px;

}


/* image for the dropdown menu info item asdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasd */
.basicSmallIconContainer {
    height: 16px;
    width: 32px;
    display: flex;
    position: sticky;
    right: 0;
    padding-left: 5px;
    

}

.dropdown-menu{
   width: 300px;
}
.dropdownButton{
    
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdownButton:hover{
    background-color: #212529;
}


.modalContainer{
    height: auto;
    width: auto;

}

.custom-select{
    background-color: #2c3034;
    color: white;
    display: block;
    border-radius: 5px;
    border: solid #ced4da 1px;
    height: 38px;
    width: 100%;
    
}


.modal{
    margin: auto;
    background: linear-gradient(144deg, rgba(2, 0, 36, 0.121) 0%, rgba(255, 6, 238, 0.199) 0%, rgba(30, 0, 255, 0.267) 100%);
    backdrop-filter: blur(5px);
   
   
}
.modal-content{
    background-color: #212529;
    height: auto;
}

.btn-close-white{
    font-size: large;
}



.modal-header{
    max-height: 30px;
    padding: 0;
    border-bottom: 0;
    margin-bottom: 20px;
}

.modal-dialog{
    max-width: 80vh;
    min-width: 350px;
    display: block;
    
}
.modal-header{
    color: white;
}

.modalButtonContainer{
display: flex;
}

.saveButton, .editButton{
    margin-top: 30px;
    margin-left: auto;
    width: 120px;
}
.cancelButton{
    margin-top: 30px;
    margin-right: auto;
    width: 120px;
}


.form-control{
    background-color: #2c3034;
    color: white;
    
}

.form-control:focus{
    background-color: #2c3034;
    color: white;
    
}
.responseTextContainer{
    height: 20px;
}

.successfulRes{
    color: green;
}
.unSuccessfulRes{
    color: red;
}


a{
    color: white;
    text-decoration: none
}

a:hover{
    color: white;
    text-decoration: none
}


.pageSelector{
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #373e4466;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;
    
    max-width: 80vw;
    height: 40px;
   
    overflow-x: scroll;
    min-width: 300px;
   
    
    
   
}
.pageBox{
    border-radius: 5px;
    background-color: #212529;
    min-width: 40px;
    min-height: 40px;
    color: white;
    text-align: center;
    
   
    line-height: 40px; 
    margin-left: 10px;
    margin-right: 10px;

    cursor: pointer;
    
    

}






.deleted{
    color: rgba(255, 58, 58, 0.539);
}

.deleteda{
    color: rgba(255, 58, 58, 0.539);
}

.deleteda:hover{
    color: rgba(255, 58, 58, 0.539);
    text-decoration: none
}