@import "~bootstrap/dist/css/bootstrap.css";


.modalContainer{
    
    height: auto;
    width: auto;

}

.custom-select{
    background-color: #2c3034;
    color: white;
    display: block;
    border-radius: 5px;
    border: solid #ced4da 1px;
    height: 38px;
    width: 100%;
    
}


.modal{
    margin: auto;
    background: linear-gradient(144deg, rgba(2, 0, 36, 0.121) 0%, rgba(255, 6, 238, 0.199) 0%, rgba(30, 0, 255, 0.267) 100%);
   
    

   
}
.modal-content{
    background-color: #212529;
    height: auto;
}

.btn-close-white{
    font-size: large;
}



.modal-header{
    max-height: 30px;
    padding: 0;
    border-bottom: 0;
    margin-bottom: 20px;
}

.modal-dialog{
    max-width: 80vh;
    min-width: 350px;
    display: block;
    
}
.modal-header{
    color: white;
}

.modalButtonContainer{
display: flex;
}

.saveButton{
    margin-top: 30px;
   margin-left: auto;
}

.form-control{
    background-color: #2c3034;
    color: white;
    
}

.form-control:focus{
    background-color: #2c3034;
    color: white;
    
}
.responseTextContainer{
    height: 20px;
}

.successfulRes{
    color: green;
}
.unSuccessfulRes{
    color: red;
}