<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <div class=" navbar-collapse justify-content-end">
       
        <div class="btnContainer">
            
            <button type="button" class="btn btn-danger " (click)="this.authService.logOut()">Log out</button>
        </div>
    </div>

</div>

<section id="mainSection">
    <div id="mainContainer">
        <div id="superadminDashboard" *ngIf="this.currentUserRole == 'superadmin'">
            <app-superadmin-dashboard></app-superadmin-dashboard>
        </div>
        <div id="adminDashboard" *ngIf="this.currentUserRole == 'admin'">
            <app-admin-dashboard></app-admin-dashboard>
        </div>
        <div id="studentDashboard" *ngIf="this.currentUserRole == 'student'">
            <app-student-dashboard></app-student-dashboard>
        </div>
    </div>
    

</section>
